.portfolio-section {
  padding: 10px 0;
  margin: 0 auto;
}

.portfolio-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 3rem;
  position: relative;
}

.portfolio-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: #272727;
}

.project-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.project-block {
  align-items: center;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: white;
  margin: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-image {
    overflow: hidden;
    height: 350px;
    border-radius: 12px;
    width: 100%;
    padding-bottom: 0.5rem;
}

.project-image img {
    width:100%; 
    height:100%;
    object-fit: cover;
}

.project-description {
    height: 150px;
    padding: 0 1rem;
    justify-items: center;
}

.project-description p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;    
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.buttons {
    margin:0;
    padding: 20px;
}

.skill-item {
  background-color: #e7e7e766;
  color: #333;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  font-size: 0.85rem;
  font-weight: 600;
}

.demo-button { 
    background-color: #66331ce3; 
    border-radius: 10px; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    margin: 4px 2px; 
    cursor: pointer; 
}

.code-button { 
    background-color: #03425fe3; 
    border-radius: 10px; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    margin: 4px 2px; 
    cursor: pointer; 
}

